<a class="bg-white rounded shadow p-4 h-full aspect-1 max-w-full flex justify-center items-center flex-col gap-4" href="<%= new_admin_team_player_path(@team) %>" data-turbo-frame="<%= dom_id(Player.new) %>">
  <i class="fas fa-plus text-4xl text-primary"></i>
  <p class="text-primary font-bold">Add Player</p>
</a>