<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @event %>

    <%= link_to 'Edit this event', edit_admin_team_event_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this event', admin_team_event_path, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to events', admin_team_events_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
