<h1 class="p-4">My Schools Sports</h1>

<a target="_blank" href="https://apps.apple.com/us/app/school-sports-tracker/id1606242222"><%= image_tag('app-store.svg') %></a><br/><br/>

<%= link_to 'Support', support_url %> | 
<%= link_to 'Terms & Conditions', terms_url %> | 
<%= link_to 'Privacy Policy', privacy_policy_url %>

