<% content_for :title, "Imports" %>
<% content_for :cta, (link_to 'New import', new_admin_import_source_path, class: "rounded-lg py-3 px-5 bg-primary text-white block font-medium") %>


<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="import_sources" class="min-w-full">
    <%= render @import_sources %>
  </div>
</div>
