<% content_for :title, "Imports" %>
<% content_for :cta, (link_to 'New import', new_admin_import_source_path, class: "rounded-lg py-3 px-5 bg-primary text-white block font-medium") %>


<div class="w-full">
  <div id="import_sources" class="min-w-full">
    <%= render @import_sources %>
  </div>
</div>
