<% content_for :title, "Import Details" %>
<% content_for :cta_secondary, (button_to 'Sync Now', admin_import_source_sync_path(@import_source), class: "rounded-lg py-3 px-5 block font-medium", method: :post) %>
<% content_for :cta, (link_to 'Settings', edit_admin_import_source_path(@import_source), class: "rounded-lg py-3 px-5 bg-primary text-white block font-medium") %>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div>
    <%= render @import_source %>
  </div>
  
  <div>
    <div class="bg-white rounded shadow p-2">
      <h2 class="text-lg font-bold p-4">
        Events
      </h2>

      <% if @import_source.events.length > 0 %>
        <ul role="list" class="divide-y divide-gray-100">
          <% @import_source.events.each do |event| %>
            <%= render "admin/events/event", event: event %>
          <% end %>
        </ul>
      <% else %>
        <p class="text-sm px-4 pb-4">No imported events.</p>
      <% end %>
    </div>
  </div>
</div>

