<% content_for :title, "Teams" %>
<% content_for :cta, (link_to 'New team', new_admin_team_path, class: "rounded-lg py-3 px-5 bg-primary text-white block font-medium") %>

<div class="w-full">
  <div id="teams" class="min-w-full">
    <ul role="list" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <%= render @teams %>
    </ul>
  </ul>
</div>
