<% content_for :title, @team.name %>
<% content_for :cta, (link_to 'Edit', edit_admin_team_path(@team), class: "rounded-lg py-3 px-5 bg-primary text-white block font-medium") %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="w-full divide-y divide-gray-100 rounded-md shadow p-4 bg-white">
    <div class="px-4 sm:px-0 flex justify-between items-center">
      <div>
        <h3 class="text-base font-semibold leading-7 text-gray-900"><%= @team.name %></h3>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"></p>
      </div>
      <% if @team.photo_url.present? %>
        <img class="h-12 w-12" src="<%= @team.photo_url %>" alt="">
      <% end %>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        
      </dl>
    </div>
  </div>
</div>
